tit {
    font-family: Arial;
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
} 
subtit {
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    font-decoration: underline;
} 
basic {
    font-style: Arial;
    font-size: 14px;
} 
body {
    background-color: burlywood;
}
menu {
    background-color: bisque;
    vertical-align: middle;
}
mit {
    display: inline;
    margin: 20px 50px;
    padding-top:20px;
    padding-bottom:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
}
a {
    color: brown;
    text-decoration: none;
}